In [1]:
person = {
    "first": "Honey", 
    "last": "Ashthana", 
    "email": "HoneyAshthana@gmail.com"
}

In [2]:
person = {
    "first": ["Honey"], 
    "last": ["Ashthana"], 
    "email": ["HoneyAshthana@gmail.com"]
}

In [3]:
person = {
    "first": ["Honey","Jane","Pie"], 
    "last": ["Ashthana","Doe","Di"], 
    "email": ["HoneyAshthana@gmail.com","janedoe@gmail.com","piedi@gmail.com"]
}

In [4]:
person['email']

['HoneyAshthana@gmail.com', 'janedoe@gmail.com', 'piedi@gmail.com']

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame(person)

In [8]:
df

                     email  first      last
0  HoneyAshthana@gmail.com  Honey  Ashthana
1        janedoe@gmail.com   Jane       Doe
2          piedi@gmail.com    Pie        Di

In [9]:
df['email']

0    HoneyAshthana@gmail.com
1          janedoe@gmail.com
2            piedi@gmail.com
Name: email, dtype: object

In [10]:
df.email

0    HoneyAshthana@gmail.com
1          janedoe@gmail.com
2            piedi@gmail.com
Name: email, dtype: object

In [11]:
df[['last', 'email']]

       last                    email
0  Ashthana  HoneyAshthana@gmail.com
1       Doe        janedoe@gmail.com
2        Di          piedi@gmail.com

In [12]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [13]:
df.iloc[[0, 1], 2]

0    Ashthana
1         Doe
Name: last, dtype: object

In [14]:
df

                     email  first      last
0  HoneyAshthana@gmail.com  Honey  Ashthana
1        janedoe@gmail.com   Jane       Doe
2          piedi@gmail.com    Pie        Di

In [15]:
df.loc[[0, 1], ['email', 'last']]

                     email      last
0  HoneyAshthana@gmail.com  Ashthana
1        janedoe@gmail.com       Doe