In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [5]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [8]:
df.columns=['email','first_name', 'last_name']

In [9]:
df

                     email first_name last_name
0  CoreyMSchafer@gmail.com      Corey   Schafer
1        JaneDoe@email.com       Jane       Doe
2        JohnDoe@email.com       John       Doe

In [10]:
df.columns = [x.upper() for x in df.columns]

In [11]:
df.columns

Index(['EMAIL', 'FIRST_NAME', 'LAST_NAME'], dtype='object')

In [15]:
df.rename(columns={'EMAIL':'email','FIRST_NAME':'first','LAST_NAME':'last'}, inplace=True)

In [16]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [23]:
df.loc[2] = ['JohnSmith@email.com','John', 'Smith']

In [24]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2      JohnSmith@email.com   John    Smith

In [25]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']

In [26]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [27]:
df.loc[2, 'last'] = 'Smith'

In [28]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John    Smith

In [29]:
df.at[2, 'last'] = 'Doe'

In [30]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [31]:
filt = (df['email'] == 'JohnDoe@email.com')
df[filt]['last'] = 'Smith'

/home/honey/env/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
filt = (df['email'] == 'JohnDoe@email.com')
df.loc[filt, 'last'] = 'Smith'

In [33]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John    Smith

In [34]:
df['email'] = df['email'].str.lower()
df

                     email  first     last
0  coreymschafer@gmail.com  Corey  Schafer
1        janedoe@email.com   Jane      Doe
2        johndoe@email.com   John    Smith

In [35]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [36]:
def update_email(email):
    return email.upper()

In [37]:
df['email'].apply(update_email)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [38]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [39]:
df

                     email  first     last
0  coreymschafer@gmail.com  Corey  Schafer
1        janedoe@email.com   Jane      Doe
2        johndoe@email.com   John    Smith

In [40]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [44]:
df.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [46]:
len(df['email'])

3

In [47]:
df.apply(pd.Series.min)

email    coreymschafer@gmail.com
first                      Corey
last                         Doe
dtype: object