In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe

In [5]:
df['last'] == 'Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [9]:
filt = (df['last'] == 'Doe')

In [7]:
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [12]:
df[df['last']=='Doe']

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [14]:
df[filt]

               email first last
1  JaneDoe@email.com  Jane  Doe
2  JohnDoe@email.com  John  Doe

In [15]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [16]:
df.loc[filt,'email']

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [17]:
df.loc[~filt,'email']

1    JaneDoe@email.com
Name: email, dtype: object